{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<div>
    {{form(form)}}
{# <div class="text-center">
    {% for user in table %}
<img src='{{asset(public/uploads/uploadedimages/(user.userphoto) )}}' alt="">
</div>
    {% endfor %} #}




</div>

{% endblock %}
