{% extends 'base.html.twig' %}

{% block title %}New Usertable33{% endblock %}

{% block body %}
    <h1>Create new Usertable33</h1>

    {{ include('usertable33/_form.html.twig') }}

    <a href="{{ path('app_usertable33_index') }}">back to list</a>
{% endblock %}
