<form method="post" action="{{ path('app_usertable34_delete', {'id': usertable34.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ usertable34.id) }}">
    <button class="btn">Delete</button>
</form>
