{% extends 'base.html.twig' %}

{% block title %}New Usertable34{% endblock %}

{% block body %}
    <h1>Create new Usertable34</h1>

    {{ include('usertable34/_form.html.twig') }}

    <a href="{{ path('app_usertable34_index') }}">back to list</a>
{% endblock %}
