{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}


<div class="example-wrapper">
<h2 class="text-center ">Form-Validation</h2>
<h5>
    {% for message in app.flashes('error') %}
    {{message}}
{% endfor %}
</h5>
{{form(form)}}


</div>
{% endblock %}
